h1{
	color: blue;
	text-align: center;	
}

#header_title{
	text-align: center;
}

.imagediv{
	float: left;
	width: 50%;
	object-fit: contain;
}

.textdiv{
	float: right;
	width: 49%;
	object-fit: contain;
}